*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width:500px) {
  img{
    width: 100%;
  }
}
@media screen and (min-width:500px){
   img{
    width: 50%;
   }
}
body{
    width: 400px;
    height: 400px;
  
}